body{
    font-family: 'Electrolize', sans-serif;
}
h1{
    margin-top: 50px;
    margin-left: 350px;
}
img{
    margin: 10px 400px
}
#searchTerm{
    margin-top: 20px;
    margin-left: 380px;
    width: 420px;
}
#searchTerm{
    margin-left: 365px;
}
#search{
    margin-top: 20px;
    width: 200px;
    
}
.b1{
    margin-left: 372px;
}
ul.todo li{
   width: 100%;
    float: left;
    background-color: azure;
    box-shadow: 0px 1px 5px rgba(44,62,80,0,0.10);
    margin: 10px 0 10px 0;
}
ul.todo{
    list-style-type: none;
}
ul.todo li:first-of-type{
    margin-top: 40px;
}
